@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

html, body {
  height: 100%;
  width: 100%;
  color: rgb(var(--foreground-rgb));
  background: black;
  overscroll-behavior-y: none; /* Prevent bounce effects */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Main scroll is in Feed container */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
